<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-s-5 d-none d-md-block">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/Tshwane_University_of_Technology_logo.svg/800px-Tshwane_University_of_Technology_logo.svg.png"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-s-7 d-flex align-items-center">
                <div class="card-body p-4 p-s-5 text-black">
  
                  <form #usersForm="ngForm" (ngSubmit)="onUsers(usersForm.value)">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">TUT Alumin</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register account</h5>
  
                    <div class="form-outline mb-4">
                      <input type="text" id="alumni_name" name="alumni_name" ngModel class="form-control form-control-s" placeholder="Name"/>
                      
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="text" id="alumni_surname"  name="alumni_surname"  ngModel class="form-control form-control-s"  placeholder="Surname"/>
                      
                    </div>
  
                    <div class="form-outline mb-4">
                        <input type="email" id="alumni_email" name="alumni_email" ngModel class="form-control form-control-s" placeholder="Email"/>
                       
                      </div>

                    <div class="form-outline mb-4">
                        <input type="password" id="alumni_password" name="alumni_password"  ngModel class="form-control form-control-s" placeholder="Password"/>
                        
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" id="alumni_faculty" name="alumni_faculty" ngModel class="form-control form-control-s" placeholder="Faculty"/>
                       
                      </div>

                    
                    <div class="pt-1 mb-4">
                      <input class="btn btn-dark btn-s btn-block" type="submit" value="Register" />
                    </div>
  
                    <a class="small text-muted" href="#!">Forgot password?</a>
                    <p class="mb-5 pb-s-2" style="color: #393f81;">Have an account? <a routerLink="/signup"
                        style="color: #393f81;">Login here</a></p>
                    
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
